# Fucking with alex's genetics data

In [1]:
# TODO

In [3]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

## Get data, open as dataframe

## Filter dataframe

- short list of genes that changed 3-fold higher or lower
- organize by treatment group

In [6]:
df = pd.read_csv('Lodge-rna-seq-24hr-after-ketJ-L6.csv').iloc[:, [0, 1, 2, 4, 5]]

In [8]:
df.head()

,Gene ID,Fold change (Ketamine vs. Vehicle),P-value (Ketamine vs. Vehicle),Fold change (L655 vs. Vehicle),P-value (L655 vs. Vehicle)
0,43526.00,1.02,0.78,-1.08,0.13
1,43529.00,1.32,0.01,1.68,0.00
2,43530.00,1.19,0.07,1.70,0.00
3,43533.00,-1.09,0.03,-1.12,0.01
4,43710.00,1.31,0.01,1.39,0.00

### The first five ketamine vs vehicle fold change greater than 2 (46 total)

In [22]:
len(df[df.iloc[:, 1] > 2])

46

In [19]:
df[df.iloc[:, 1] > 2].head()

,Gene ID,Fold change (Ketamine vs. Vehicle),P-value (Ketamine vs. Vehicle),Fold change (L655 vs. Vehicle),P-value (L655 vs. Vehicle)
219,Ankrd52,2.68,0.0,3.02,0.0
231,Aoc2-ps1,2.03,0.0,2.58,0.0
253,Apc,2.13,0.0,2.45,0.0
266,Apold1,3.06,0.0,1.68,0.0
289,Arhgap5,2.21,0.0,4.44,0.0

### all ketamine vs vehicle fold change greater than 3

In [16]:
df[df.iloc[:, 1] > 3]

,Gene ID,Fold change (Ketamine vs. Vehicle),P-value (Ketamine vs. Vehicle),Fold change (L655 vs. Vehicle),P-value (L655 vs. Vehicle)
266,Apold1,3.06,0.0,1.68,0.0
2165,Kcna2,3.72,0.0,4.97,0.0
5197,Vof16,4.16,0.0,4.09,0.0

### the first five l655 fold change greater than 2 (there are 109 total)

In [18]:
df[df.iloc[:, 3] > 2].head()

,Gene ID,Fold change (Ketamine vs. Vehicle),P-value (Ketamine vs. Vehicle),Fold change (L655 vs. Vehicle),P-value (L655 vs. Vehicle)
81,Actr2,1.79,0.0,2.09,0.0
153,Akap11,1.52,0.0,2.36,0.0
156,Akap5,1.95,0.0,2.68,0.0
193,Amigo1,1.96,0.0,2.15,0.0
219,Ankrd52,2.68,0.0,3.02,0.0

### all l655 fold change greater than 3

In [17]:
df[df.iloc[:, 3] > 3]

,Gene ID,Fold change (Ketamine vs. Vehicle),P-value (Ketamine vs. Vehicle),Fold change (L655 vs. Vehicle),P-value (L655 vs. Vehicle)
219,Ankrd52,2.68,0.0,3.02,0.0
289,Arhgap5,2.21,0.0,4.44,0.0
2165,Kcna2,3.72,0.0,4.97,0.0
2166,Kcna3,2.69,0.0,3.58,0.0
2209,Kif1b,2.42,0.0,3.14,0.0
2492,Map2,2.50,0.0,3.08,0.0
2634,Mis12,1.96,0.0,3.06,0.0
4385,Smcr8,2.77,0.0,3.33,0.0
4549,St8sia3,2.34,0.0,3.14,0.0
5119,Uhmk1,2.27,0.0,3.07,0.0
5197,Vof16,4.16,0.0,4.09,0.0