In [75]:
import pandas as pd

In [105]:
data = {'Number': list(range(1, 7)), 
        'Number of rolls': [14, 8, 11, 9, 12, 6]
       }

In [106]:
data = pd.DataFrame(data['Number of rolls'], 
                 index=data['Number'],
                   columns=['rolls'])

In [107]:
data

   rolls
1     14
2      8
3     11
4      9
5     12
6      6

In [108]:
expected_value = data.mean()[0]

In [116]:
deg_freedom = len(data) - 1

In [109]:
data['squared_difference'] = (data.rolls - expected_value)**2

In [110]:
data

   rolls  squared_difference
1     14                16.0
2      8                 4.0
3     11                 1.0
4      9                 1.0
5     12                 4.0
6      6                16.0

In [111]:
data['difference_over_mean'] = data.squared_difference / expected_value

In [112]:
data

   rolls  squared_difference  difference_over_mean
1     14                16.0                   1.6
2      8                 4.0                   0.4
3     11                 1.0                   0.1
4      9                 1.0                   0.1
5     12                 4.0                   0.4
6      6                16.0                   1.6

In [113]:
chi_square = data.difference_over_mean.sum()

In [114]:
chi_square

4.2000000000000002

In [115]:
mean

10.0

In [117]:
deg_freedom

5

### End of quiz 1

In [119]:
import numpy as np

In [120]:
dst = np.array(range(71, 101))

In [124]:
dst.mean()

85.5

In [125]:
dst.var()

74.916666666666671

In [126]:
85.5-75

10.5

In [127]:
117/12

9.75

In [128]:
137/12

11.416666666666666

In [129]:
127/12

10.583333333333334

In [130]:
147/12

12.25