# Predicting Bicycle Traffic with regressions

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
weather = pd.read_csv('1483094.csv', index_col='DATE', parse_dates=True)
bikes = pd.read_csv('Fremont.csv', index_col='Date', parse_dates=True)

In [24]:
bikes['Total'] = bikes.iloc[:, 0] + bikes.iloc[:, 1]

In [43]:
bikes.dropna(inplace=True)

In [47]:
bikes.head()

,Fremont Bridge West Sidewalk,Fremont Bridge East Sidewalk,Total
Date,,,
2012-10-03 00:00:00,4.0,9.0,13.0
2012-10-03 01:00:00,4.0,6.0,10.0
2012-10-03 02:00:00,1.0,1.0,2.0
2012-10-03 03:00:00,2.0,3.0,5.0
2012-10-03 04:00:00,6.0,1.0,7.0

In [50]:
bikes = bikes.applymap(np.int64)

In [51]:
bikes.head()

,Fremont Bridge West Sidewalk,Fremont Bridge East Sidewalk,Total
Date,,,
2012-10-03 00:00:00,4,9,13
2012-10-03 01:00:00,4,6,10
2012-10-03 02:00:00,1,1,2
2012-10-03 03:00:00,2,3,5
2012-10-03 04:00:00,6,1,7

In [9]:
a = np.random.randint(0, 10, (10, 10))
a

array([[6, 3, 9, 8, 2, 6, 1, 3, 6, 0],
       [8, 2, 2, 1, 6, 8, 3, 3, 5, 8],
       [1, 3, 6, 0, 1, 0, 3, 6, 6, 8],
       [4, 1, 0, 3, 1, 8, 6, 1, 8, 5],
       [8, 3, 7, 4, 8, 4, 8, 7, 5, 2],
       [1, 0, 5, 1, 5, 8, 9, 4, 5, 8],
       [2, 6, 8, 5, 8, 7, 7, 4, 5, 5],
       [8, 5, 2, 0, 8, 3, 4, 4, 4, 1],
       [1, 1, 2, 1, 2, 8, 8, 8, 6, 8],
       [9, 1, 2, 3, 5, 0, 1, 6, 2, 6]])

In [16]:
x = 3
y = 4
bf = 2

x_0, x_1 = x - bf, x + bf
y_0, y_1 = y - bf, y + bf

In [17]:
print(x_0, x_1)
print(y_0, y_1)

1 5
2 6

In [21]:
a[x_0:x_1, y_0:y_1]

array([[2, 1, 6, 8],
       [6, 0, 1, 0],
       [0, 3, 1, 8],
       [7, 4, 8, 4]])