# Data Analysis with Pandas and Excel

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
%matplotlib inline

## Read excel file

In [3]:
file = r"C:\Users\Alex Loftus\Dropbox\Job or Useful\Practice\EB04-SUMIFSandPivotTables.xlsx"
wb_sales = pd.ExcelFile(file)

# Read the third sheet
proper_data_set = pd.read_excel(file, sheet_name='Proper Data Set')

In [6]:
proper_data_set = proper_data_set[['Date', 'Region', 'SalesRep', 'Sales']]

In [7]:
proper_data_set.head()

        Date     Region SalesRep  Sales
0 2017-10-20       West     Gigi    620
1 2017-10-20  Northwest     Gigi    484
2 2017-10-20       West   Freddy    376
3 2017-10-20  Northwest   Freddy   1141
4 2017-10-20  Northwest     Chin    725