# Playing around with pandas basics

In [1]:
import pandas as pd
import numpy as np

In [2]:
s1 = pd.Series([33, 19, 15, 89, 11, -5, 9])

In [3]:
s1

0    33
1    19
2    15
3    89
4    11
5    -5
6     9
dtype: int64

In [4]:
type(s1)

pandas.core.series.Series

In [5]:
s1.values

array([33, 19, 15, 89, 11, -5,  9], dtype=int64)

In [6]:
type(s1.values)

numpy.ndarray

In [13]:
s1.index

RangeIndex(start=0, stop=7, step=1)

In [19]:
s1.index

RangeIndex(start=0, stop=7, step=1)

In [24]:
data1 = [33, 19, 15, 89, 11, -5, 9]
index1 = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

In [25]:
s2 = pd.Series(data1, index1)

In [26]:
s2

Mon    33
Tue    19
Wed    15
Thu    89
Fri    11
Sat    -5
Sun     9
dtype: int64

In [27]:
# verify index
s2.index

Index(['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'], dtype='object')

In [28]:
s2.name= 'Daily Temperatures'
s2.index.name='Weekday'

In [29]:
s2

Weekday
Mon    33
Tue    19
Wed    15
Thu    89
Fri    11
Sat    -5
Sun     9
Name: Daily Temperatures, dtype: int64

In [30]:
data2 = [33, 19.3, 15, 89, 11, -5, 9]

In [31]:
s3 = pd.Series(data2, index=index1)

In [32]:
s3

Mon    33.0
Tue    19.3
Wed    15.0
Thu    89.0
Fri    11.0
Sat    -5.0
Sun     9.0
dtype: float64

In [33]:
dict1 = {'Mon': 33, 'Tue': 19, 'Wed': 15, 'Thu': 89, 'Fri': 11, 'Sat': -5, 'Sun': 9}

In [34]:
s4 = pd.Series(dict1)

In [35]:
s4

Fri    11
Mon    33
Sat    -5
Sun     9
Thu    89
Tue    19
Wed    15
dtype: int64

#### Series is ndarray-like

In [36]:
s4 * 2

Fri     22
Mon     66
Sat    -10
Sun     18
Thu    178
Tue     38
Wed     30
dtype: int64

In [37]:
np.log(s4)

C:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in log
  """Entry point for launching an IPython kernel.

Fri    2.397895
Mon    3.496508
Sat         NaN
Sun    2.197225
Thu    4.488636
Tue    2.944439
Wed    2.708050
dtype: float64

In [38]:
s4['Thu':'Wed']

Thu    89
Tue    19
Wed    15
dtype: int64

In [39]:
s4[1:3]

Mon    33
Sat    -5
dtype: int64

In [40]:
s4[1]

33

In [41]:
s4

Fri    11
Mon    33
Sat    -5
Sun     9
Thu    89
Tue    19
Wed    15
dtype: int64

In [42]:
np.median(s4)

15.0

In [43]:
s4.max()

89

In [44]:
s4.cumsum()

Fri     11
Mon     44
Sat     39
Sun     48
Thu    137
Tue    156
Wed    171
dtype: int64

In [45]:
for i, v in enumerate(s4):
    print(i, v)

0 11
1 33
2 -5
3 9
4 89
5 19
6 15

In [46]:
s4

Fri    11
Mon    33
Sat    -5
Sun     9
Thu    89
Tue    19
Wed    15
dtype: int64

In [47]:
new_list = [x**2 for x in s4]

In [48]:
new_list

[121, 1089, 25, 81, 7921, 361, 225]

In [49]:
'Sun' in s4

True

In [50]:
s4['Tue'] = 200

In [51]:
s4

Fri     11
Mon     33
Sat     -5
Sun      9
Thu     89
Tue    200
Wed     15
dtype: int64

In [53]:
for k, v in s4.items():
    print(k, v)

Fri 11
Mon 33
Sat -5
Sun 9
Thu 89
Tue 200
Wed 15

In [54]:
type(s4.items())

zip