# learn how the read_csv function works

In [73]:
import pandas as pd
import numpy as np

Spent a lot of time here playing around with csv parameters in the below cell

In [69]:
df = pd.read_csv('cst_test.txt', header=None, prefix='Col')
df

   Col0  Col1  Col2
0     1     2     3
1     4     5     6
2     7     8     9

In [89]:
def conv(x):
    return x + x

In [126]:
df = pd.read_csv('cst_test.txt')

df

   A   B   C
0  1   2   3
1  4   5   6
2  7   8   9