# alex's dope lyme disease analysis

get some data, most of this is from the CDC, but I'm probably gonna combine data from different places depending on how curious I get

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()

here are some links

- health care costs / patterns of utilization following lyme disease: https://journals.plos.org/plosone/article/figure?id=10.1371/journal.pone.0116767.t002
- awesome list of datasets http://lymeinnovation.org/datasets/
- CDC's overview https://www.cdc.gov/lyme/datasurveillance/index.html
- how likely are you to get lyme disease if you're exposed to it? https://academic.oup.com/cid/article/59/5/676/2895755?ijkey=JvyWcwRMpPmKo&keytype=ref&siteid=cid

## Basic foundational info

In [12]:
# Number of confirmed lime disease cases in Maryland in 2017. Actual number is likely a bit higher cause of missing reports
maryland_2017_cases = 1194
    
# population of maryland
maryland_population = 1  # TODO

# ratio - this is a little misleading if we're trying to figure out how dangerous camping is, 
# cause lots of people in maryland probably never went camping in 2017
cases_per_person = maryland_2017_cases / maryland_population

# prevalence of camping - important cause the actual chance of getting lyme disease conditioned on going camping is certainly way higher
prevalence_of_camping = 1  # TODO

# cases given camping
cases_given_camping = 1  # TODO

## Get data

Exploring three datasets initially, and gonna keep poking around if I'm unsatisfied with them

### big government dataset: https://data.cdc.gov/NNDSS/NNDSS-Table-II-Lyme-disease-to-Meningococcal/93k9-hy54

In [7]:
big_gov_path = 'data/big_gov_dataset.csv'
big_gov = pd.read_csv(big_gov_path)
big_gov.head()

,Reporting Area,MMWR Year,MMWR Week,"Lyme disease, Current week","Lyme disease, Current week, flag","Lyme disease, Previous 52 weeks Med","Lyme disease, Previous 52 weeks Med, flag","Lyme disease, Previous 52 weeks Max","Lyme disease, Previous 52 weeks Max, flag","Lyme disease, Cum 2016",...,"Meningococcal disease, invasive§, All serogroups, Previous 52 weeks Med","Meningococcal disease, invasive§, All serogroups, Previous 52 weeks Med, flag","Meningococcal disease, invasive§, All serogroups, Previous 52 weeks Max","Meningococcal disease, invasive§, All serogroups, Previous 52 weeks Max, flag","Meningococcal disease, invasive§, All serogroups, Cum 2016","Meningococcal disease, invasive§, All serogroups, Cum 2016, flag","Meningococcal disease, invasive§, All serogroups, Cum 2015","Meningococcal disease, invasive§, All serogroups, Cum 2015, flag",Location 1,Location 2
0,UNITED STATES,2016,1,48.0,NaN,433.0,NaN,2240.0,NaN,48.0,...,6.0,NaN,15.0,NaN,1.0,NaN,8.0,NaN,NaN,NaN
1,NEW ENGLAND,2016,1,NaN,-,79.0,NaN,723.0,NaN,NaN,...,0.0,NaN,2.0,NaN,NaN,-,NaN,-,NaN,NaN
2,MID. ATLANTIC,2016,1,42.0,NaN,229.0,NaN,1246.0,NaN,42.0,...,1.0,NaN,4.0,NaN,NaN,-,NaN,-,NaN,NaN
3,NEW YORK CITY,2016,1,2.0,NaN,4.0,NaN,560.0,NaN,2.0,...,0.0,NaN,2.0,NaN,NaN,-,NaN,-,NEW YORK CITY,NaN
4,E.N. CENTRAL,2016,1,1.0,NaN,20.0,NaN,173.0,NaN,1.0,...,1.0,NaN,5.0,NaN,NaN,-,1.0,NaN,NaN,NaN

### per-county dataset:

In [9]:
by_county_path = 'data/by_county.csv'
by_county = pd.read_csv(by_county_path)
by_county.head()

,StateCode,CountyCode,StateName,CountyName,ConfirmedCount_1992_1996,ConfirmedCount_1997_2001,ConfirmedCount_2002_2006,ConfirmedCount_2007_2011
0,1,0,Alabama,Alabama,NaN,NaN,NaN,1.0
1,1,1,Alabama,Autauga County,NaN,2.0,NaN,NaN
2,1,3,Alabama,Baldwin County,4.0,4.0,1.0,1.0
3,1,5,Alabama,Barbour County,NaN,NaN,NaN,NaN
4,1,7,Alabama,Bibb County,1.0,NaN,NaN,NaN

### tycho dataset: https://www.tycho.pitt.edu/dataset/US.23502006/

In [10]:
tycho_path = 'data/tycho_data.csv'
tycho = pd.read_csv(tycho_path)
tycho.head()

,ConditionName,ConditionSNOMED,PathogenName,PathogenTaxonID,Fatalities,CountryName,CountryISO,Admin1Name,Admin1ISO,Admin2Name,CityName,PeriodStartDate,PeriodEndDate,PartOfCumulativeCountSeries,AgeRange,Subpopulation,PlaceOfAcquisition,DiagnosisCertainty,SourceName,CountValue
0,Lyme disease,23502006,Borrelia,138,0,UNITED STATES OF AMERICA,US,WISCONSIN,US-WI,NaN,NaN,2007-09-09,2007-09-15,0,0-130,None specified,NaN,NaN,US Nationally Notifiable Disease Surveillance ...,3
1,Lyme disease,23502006,Borrelia,138,0,UNITED STATES OF AMERICA,US,WISCONSIN,US-WI,NaN,NaN,2007-09-16,2007-09-22,0,0-130,None specified,NaN,NaN,US Nationally Notifiable Disease Surveillance ...,1
2,Lyme disease,23502006,Borrelia,138,0,UNITED STATES OF AMERICA,US,WISCONSIN,US-WI,NaN,NaN,2007-10-28,2007-11-03,0,0-130,None specified,NaN,NaN,US Nationally Notifiable Disease Surveillance ...,1
3,Lyme disease,23502006,Borrelia,138,0,UNITED STATES OF AMERICA,US,WISCONSIN,US-WI,NaN,NaN,2007-12-09,2007-12-15,0,0-130,None specified,NaN,NaN,US Nationally Notifiable Disease Surveillance ...,1
4,Lyme disease,23502006,Borrelia,138,0,UNITED STATES OF AMERICA,US,WISCONSIN,US-WI,NaN,NaN,2008-02-03,2008-02-09,0,0-130,None specified,NaN,NaN,US Nationally Notifiable Disease Surveillance ...,1