# Chapter 3 problems

In [3]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

## Problems 2, 4, 5, 8, 9, 10

In [21]:
# 2: number of cokes sold during 9 hours of a business day

data = pd.Series([1, 1, 2, 6, 5, 6, 6, 7, 11], index=[1,2,3,4,5,6,7,8,9])

mean = data.sum() / len(data); mean  # a, 5
median = data.median(); median  # 6
mode = data.mode(); mode  # 6

pd.DataFrame(data)

5.0

6.0

0    6
dtype: int64

    0
1   1
2   1
3   2
4   6
5   5
6   6
7   6
8   7
9  11

In [76]:
#  Variance
var = 0
for i in data:
    a = (mean - i) ** 2
    var += a
var = var / len(data)
var; data
std = np.sqrt(var); std

9.3333333333333339

1     1
2     1
3     2
4     6
5     5
6     6
7     6
8     7
9    11
dtype: int64

3.0550504633038935

In [85]:
# Getting a better feel for std

a = np.std([1, 2, 4, 6, 8]); a
b = np.std([1, 2, 4, 6, 10]); b
c = np.std([1, 2, 4, 6, 12]); c
d = np.std([1, 2, 4, 6, 14]); d
e = np.std([1, 2, 4, 6, 16]); e
f = np.std([1, 2, 4, 6, 18]); f
g = np.std([1, 2, 4, 6, 20]); g
h = np.std([1, 2, 4, 6, 22]); h

b - a
c - b
d - c
e - d
f - e
g - f
h - g

2.5612496949731396

3.2000000000000002

3.8987177379235853

4.6303347611160905

5.3814496188294836

6.1449165982948868

6.916646586316233

7.6941536246685382

0.63875030502686059

0.69871773792358516

0.73161702319250521

0.75111485771339304

0.76346697946540321

0.77172998802134618

0.77750703835230528