# Statistics Book Problems: Chapter 1

## Problems 1-3, 4b, 5, 8

In [93]:
#  Import the golden standards
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

#### Let S be the set of all restaurants in Walla Walla, Washington. Assume S contains 140 elementary events. Define F as the set of all French restaurants and assume that F contains 32 elementary events. Define T as the set of restaurants that require men to wear ties and jackets, and assume that T contains 48 elementary events. Assume that 20 of the french restaurants require a tie.

#### b. Represent the situation as two contingency tables

In [94]:
S = pd.Series((np.ones(140)))  # Total number of restaurants
F = pd.Series(np.ones(32))  # Set of french restaurants
T = pd.Series(np.ones(48))  # Set of restaurants requiring ties and jackets

### Frequency Contingency Table

In [95]:
frq = pd.DataFrame(index=['Ties', '~Ties', 'Total'], columns = ['French', '~French', 'Total'])

S = 140  # Sample space
F = 32  # French
T = 48  # Ties
NF = S - F
NT = S - T

frq.iloc[2,2] = S  # Total events in sample space
frq.iloc[2, 0] = F  # Total french restaurants
frq.iloc[2, 1] = S - F  # Total not-french restaurants
frq.iloc[0, 2] = T  # Total restaurants with ties
frq.iloc[1, 2] = S - T  # Total restaurants that don't care about ties
frq['French'] = 20, F-20, F
frq['~French'] = T-20, NF-(T-20), NF
frq['Total'] = T, NT, S

frq

       French  ~French  Total
Ties       20       28     48
~Ties      12       80     92
Total      32      108    140

### Probability contingency table

In [96]:
# Computes independent p(all values)

prb = frq  # Create a skeleton probability df from frq
prb['French'] = prb['French'] / S
prb['~French'] = prb['~French'] / S
prb['Total'] = prb['Total'] / S

prb

         French   ~French     Total
Ties   0.142857  0.200000  0.342857
~Ties  0.085714  0.571429  0.657143
Total  0.228571  0.771429  1.000000

### Answer questions

In [104]:
prb.iloc[2,0] #1, p(F)
prb.iloc[0,2] #2, p(T)
prb.iloc[0,0] #3, p(F and T)
(prb.iloc[2,0] + prb.iloc[0,2]) - prb.iloc[0,0]  #4, p(F or T)
prb.iloc[0,1] #5, p(~F and T)
prb.iloc[1,0] #6, p(F and ~T)
(prb.iloc[2,1] + prb.iloc[1,2]) - prb.iloc[1,1]  #7, p(~F or ~T)
prb.iloc[0,0] / prb.iloc[0,2]  #8, p(F | T)
prb.iloc[1,0] / prb.iloc[1,2]  #9, p(F | ~T)
prb.iloc[0,1] / prb.iloc[0,2]  #10, p(~F | T)
prb.iloc[1,1] / prb.iloc[1, 2] #11, p(~F | ~T)
prb.iloc[0,0] / prb.iloc[2,0]  #12, p(T | F)
prb.iloc[0,1] / prb.iloc[2,1]  #13, p(T | ~F)
prb.iloc[1,0] / prb.iloc[2,0]  #14, p(~T | F)
prb.iloc[1,1] / prb.iloc[2,1]  #15, p(~T | ~F)

0.22857142857142856

0.34285714285714286

0.14285714285714285

0.42857142857142855

0.20000000000000001

0.085714285714285715

0.85714285714285721

0.41666666666666663

0.13043478260869565

0.58333333333333337

0.86956521739130432

0.625

0.25925925925925924

0.375

0.7407407407407407

#### There are 84 passengers on an airliner. Define the following two events:
#### F: The person is traveling first class.
#### M: The person is male.
#### Suppose there are 32 first-class passengers and 30 males. Suppose further that p(F or M) = 52/84.

### Contingency Table

In [106]:
dft = pd.DataFrame(index=['First Class', '~First Class', 'Total'], columns=['Male', '~Male', 'Total'])
dft

             Male ~Male Total
First Class   NaN   NaN   NaN
~First Class  NaN   NaN   NaN
Total         NaN   NaN   NaN

In [113]:
dft.iloc[2,2] = 84  # Add Total
dft.iloc[2,0] = 30
dft.iloc[0,2] = 32
dft.iloc[1,2] = 84-32
dft.iloc[2,1] = 84-30
dft.iloc[0,0] = (32+30)-52  # Use general union probability rule to figure out p(M and F)
dft.iloc[0,1] = 32-10
dft.iloc[1,0] = 30-10
dft.iloc[1,1] = 52 - 20

dft

             Male ~Male Total
First Class    10    22    32
~First Class   20    32    52
Total          30    54    84