# General playground notebook

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

## Stringsplosion algorithm

In [2]:
#The goal is to make 'Code' > CCoCodCode

def stringSplosion(string):
  output = []
  i = 0
  while i < len(string):
    output.append(string[0:i+1])
    i += 1
  
  return ''.join(output)

In [3]:
print(stringSplosion('whatsup'))

wwhwhawhatwhatswhatsuwhatsup

In [4]:
# 1 Go through ls
# 2 Within ls, pick a value
# 3 Go Find the first and last instances of that value
# 4 Get the number of things between the first and last instances
# 5 Append that number to a new list
# 6 Repeat steps 2 through 5
# 7 Return the largest value within the new list

def slc(ls, val):  # Get list slice for whatever value you're on
    return len(ls[ls.index(val) : len(ls) - ls[::-1].index(val)])

a = [2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 4, 4, 1] # test Ls to play around with
lst = []

for i in list(set(a)):
    lst.append(slc(a, i))

print(max(lst))

13

In [5]:
ls = [1, 4, 2, 1, 4, 4, 4, 5, 7, 8, 4, 9, 10]

a = ls.index(4)
b = len(ls) - 1 - ls[::-1].index(4)

a, b

?ls.index

(1, 10)

Docstring:
L.index(value, [start, [stop]]) -> integer -- return first index of value.
Raises ValueError if the value is not present.
Type:      builtin_function_or_method

## Bayes's Theorem

In [6]:
'''Joe Smith: Given a hit, what is the probability of Joe making it?'''
'''
Bayes's Theorem:

p(A|B) = p(B|A) p(A) / p(B|A) p(A) + p(B|~A) p(~A)
'''

J = 1/9  # Probability it was joe at bat
Jo = 1-J  # Probability that it was someone else

HgJ = 0.1  # P of hit given Joe at bat
HgJo = 0.3 # P of hit given not Joe at bat

JgH = HgJ*J / (HgJ*J + HgJo*Jo)  # Probability that it was joe who hit the ball

JgH

'Joe Smith: Given a hit, what is the probability of Joe making it?'

"\nBayes's Theorem:\n\np(A|B) = p(B|A) p(A) / p(B|A) p(A) + p(B|~A) p(~A)\n"

0.04

In [7]:
(.778+.168) / 2

0.47300000000000003

## Playing around with Random

In [8]:
import random
b = random.sample([1, 2, 3, 4, 5], 5)
a = {i: b.pop() for i in ['Alex', 'Willa', 'Geoff', 'Gillian', 'Emma']}; a  # Gonna come back to this in a sec

{'Alex': 3, 'Emma': 5, 'Geoff': 2, 'Gillian': 4, 'Willa': 1}

In [54]:
c = dict(zip(['Alex', 'Willa', 'Geoff', 'Gillian', 'Emma'], random.sample([1, 2, 3, 4, 5], 5))); c

{'Alex': 5, 'Emma': 3, 'Geoff': 4, 'Gillian': 2, 'Willa': 1}

#### Iterators are one-time-use

In [19]:
def it(x):
    ret = []
    i = 0
    while i < x:
        ret.append(i**2)
        i += 1
    yield ret
    
a = it(5)
b = list(a)
c = list(a)

print(b)
print(c)

[[0, 1, 4, 9, 16]]
[]

#### what're the boolean values for integers? (also 'all' and 'any')

In [56]:
all([1, 1, 1, 1, 1, 2])
any([1, 1, 1, 1, 0])

True

True

## Playing around with the standard library

### Map function

In [43]:
from math import pi

def circle_area(r):  # Make an example function
    return pi * (r ** 2)

radii = [0, 1, 2, 3, 4, 5]

a = map(circle_area, radii); a  # Returns a 'map' iterator object
dict(enumerate(a))  # Gives dict with indices

{0: 0.0,
 1: 3.141592653589793,
 2: 12.566370614359172,
 3: 28.274333882308138,
 4: 50.26548245743669,
 5: 78.53981633974483}

## Some numpy stuff

In [2]:
%reset
import numpy as np

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [49]:
a = np.arange(64).reshape(4, 4, 4); a

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11],
        [12, 13, 14, 15]],

       [[16, 17, 18, 19],
        [20, 21, 22, 23],
        [24, 25, 26, 27],
        [28, 29, 30, 31]],

       [[32, 33, 34, 35],
        [36, 37, 38, 39],
        [40, 41, 42, 43],
        [44, 45, 46, 47]],

       [[48, 49, 50, 51],
        [52, 53, 54, 55],
        [56, 57, 58, 59],
        [60, 61, 62, 63]]])

In [16]:
a
a[0]
a[0, 0]
a[0, 0, 0]

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11],
        [12, 13, 14, 15]],

       [[16, 17, 18, 19],
        [20, 21, 22, 23],
        [24, 25, 26, 27],
        [28, 29, 30, 31]],

       [[32, 33, 34, 35],
        [36, 37, 38, 39],
        [40, 41, 42, 43],
        [44, 45, 46, 47]],

       [[48, 49, 50, 51],
        [52, 53, 54, 55],
        [56, 57, 58, 59],
        [60, 61, 62, 63]]])

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

array([0, 1, 2, 3])

0

### Indexing

In [21]:
b = np.array([a[1, 1, 2], a[2, 0, 0]]); b

array([22, 32])

In [27]:
c = np.array([b, b, b]); c
d = np.array([c, c, c]); d; d.shape

array([[22, 32],
       [22, 32],
       [22, 32]])

array([[[22, 32],
        [22, 32],
        [22, 32]],

       [[22, 32],
        [22, 32],
        [22, 32]],

       [[22, 32],
        [22, 32],
        [22, 32]]])

(3, 3, 2)

In [44]:
d = np.array([c, c, c])
d[0] = 3

for e, i in enumerate(d[0]):
    print((e, i))
    d[0, e] = e * i

d[0]

(0, array([3, 3]))
(1, array([3, 3]))
(2, array([3, 3]))

array([[0, 0],
       [3, 3],
       [6, 6]])

### Slicing

In [53]:
a[0]
b = a.copy()  # If we do b = a, then modifying b will modify a (because they point to the same object)
b[0] = 2
a[0]
b[0]

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

array([[2, 2, 2, 2],
       [2, 2, 2, 2],
       [2, 2, 2, 2],
       [2, 2, 2, 2]])

## Calc

In [2]:
import pandas as pd
speeds = pd.Series([20, 30, 38, 44, 48, 50], index=[0, 2, 4, 6, 8, 10])

In [3]:
speeds

0     20
2     30
4     38
6     44
8     48
10    50
dtype: int64

In [4]:
s = speeds

## Calc HW

In [6]:
(34*3)+(37*3)+(38*3)+(40*3)

447

In [8]:
(34*6)+(40*6)

444

In [10]:
np.array([12, 11, 10, 10, 8, 7, 0]) / 60

array([ 0.2       ,  0.18333333,  0.16666667,  0.16666667,  0.13333333,
        0.11666667,  0.        ])

## Combinations / Permutations stuff

In [11]:
from itertools import permutations as perm
import numpy as np

In [14]:
def count_perms(ls):
    count = 0
    for i in perm(ls):
        count += 1
    return count

In [25]:
a = np.ones(0); a

array([], dtype=float64)

In [24]:
for i in range(7):
    print(i, ':', count_perms(np.ones(i)))

0 : 1
1 : 1
2 : 2
3 : 6
4 : 24
5 : 120
6 : 720

In [21]:
for i in range(6):
    print(i)

0
1
2
3
4
5

## Playing with ANOVA

In [1]:
import pandas as pd
import numpy as np

In [18]:
df = pd.DataFrame(data={'Violent Video': [7.7, 6.5], 'Nonviolent Video': [6.2, 5.1]}, index=['Male', 'Female'])
df

        Nonviolent Video  Violent Video
Male                 6.2            7.7
Female               5.1            6.5

In [23]:
df['Means'] = df.mean(axis=1)
df.loc['Means'] = df.mean()
df

df = df[['Violent Video', 'Nonviolent Video', 'Means']]
df

        Violent Video  Nonviolent Video  Means
Male              7.7              6.20  6.950
Female            6.5              5.10  5.800
Means             7.1              5.65  6.375

In [36]:
df.loc[['Male',]]

      Violent Video  Nonviolent Video  Means
Male            7.7               6.2   6.95

In [33]:
np.sum(df.loc['Male'][0:2] ** 2)

97.73000000000002

In [39]:
vm = [7.7, 4.6]
vf = [6.5, 4.2]
nm = [6.2, 3.5]
nf = [5.1, 2.8]

In [1]:
def test():
    print('test')

In [10]:
import pandas as pd
import sys

In [11]:
pd.read_excel

In [1]:
%reset

In [3]:
import numpy as np
x = np.array([4, 5, 6, 7, 8, 9])
fx = np.array([1/12, 1/12, 1/4, 1/4, 1/6, 1/6])

In [14]:
np.sum((2*x-1) * fx)

12.666666666666664

In [10]:
u = np.sum(x * fx)

In [15]:
np.sum((x - u)**2 * fx)

2.1388888888888888

In [17]:
%reset

In [ ]:
import numpy as np
import scipy as sci
import pandas as pd
%matplotlib inline

In [ ]:
s = np.random.binomial(15, .4, size=1000)

In [ ]:
se.plot(kind='bar')

In [ ]:
print(4)